@(userName: String)
@doctype.render
<html lang="en" xmlns="http://www.w3.org/1999/html">
	<head>
		<meta charset="UTF-8">
		<title>Amiibo Home</title>
		<link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/stylesheets/navbar.css">
		<link rel="stylesheet" href="/assets/stylesheets/sort.css">
	</head>
	<!--=====================================NAV BAR==========================================-->
	<body>
		<center>
			<img src="/assets/images/logo-amiibo-glow.png" alt="Amiibo Header" height="150px;" >
		</center>
		<div id="menu-nav">
			<div id="navigation-bar">
				<ul>
					<li><a href="@routes.AmiiboController.getHome"><i class="fa fa-home"></i><span>Home</span></a>
					</li>
					<li><a href="@routes.AmiiboController.getCollection"><i
							class="fa fa-mycollection"></i><span>My Collection</span></a>
					</li>
					<li><a href="@routes.SessionsController.getLogin"><i
							class="fa fa-book"></i><span>Login</span></a></li>
					<li><a href="@routes.AmiiboController.getAboutAmiibo"><i class="fa fa-book"></i><span>About Amiibo</span></a>
					</li>
					<li><a href="@routes.AmiiboController.getFigureList()"><i
							class="fa fa-book"></i><span>Amiibo Figure</span></a></li>
				</ul>
			</div>
		</div>
		<center>
		<img src="/assets/images/header.jpg.png" alt="Amiibo Header" width="90%">
		</center>
	</body>
</html>
		